body{
	font: 15px/1.5 Arial, Helvetica, sans-serif;
	padding: 0;
	margin: 0;
	background-color: #5C4033;
}
 
 /* Global */
.container{
	width: 80%;
	margin: auto;
	overflow: hidden;
}

.dark{
	padding: 15px;
	background: #d4bda8;
	color: black;
	margin-top: 150px;
	margin-bottom: 10px;
}

/* Header */
/* Main costumization */
header{
	background: #d4bda8;
	width: 100%;
	padding-top: 30px;
	min-height: 70px;
	border-bottom: black 3px solid;
	position: fixed;
}

header h1{
	color: #5C4033;
	cursor: pointer;
}

header h1:hover{
	color: white;
}

/* The tab on top of each link */
.tab-border{
	border-top: white 3px solid;
}
 
/* Customization of links on navigation */
header a{
	color: black;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
	margin: 10px;
}

header ul{
	margin: 0;
	padding: 0;
}

header li{
	float: left;
	display: inline;
	padding: 0 10px 0 15px;
}

header a:hover{
	color: white;
	font-weight: bolder;
}

/* Showcase */
#showcase{
	min-height: 300px;
	background: url('../img/iStock-1173658667-res.jpg')  200px;
	text-align: center;
	color: white;
	box-shadow: inset 120px 100px 250px black, inset -120px -100px 250px black;
}

#showcase h1{
	margin-top: 200px;
	font-size: 55px;
	margin-bottom: 10px;
}

#showcase p{
	font-size: 20px;
	font: Elephant;
}

/* Side Buttons and Popups */
/* Side button placement */
.side-buttons-placement{
	position: fixed;
	top: 150px;
}

.side-buttons-placement img{
	width: 40px;
	border-radius: 30px;
}

#side-button1{
	color: #d4bda8;
	padding: 5px 5px 1.5px;
	text-decoration: none;
	cursor: pointer;
	border-radius: 45px;
}

#side-button2{
	color: #d4bda8;
	padding: 5px 5px 1.5px;
	text-decoration: none;
	cursor: pointer;
	border-radius: 45px;
}

#side-button3{
	color: #d4bda8;
	padding: 5px 5px 1.5px;
	text-decoration: none;
	cursor: pointer;
	border-radius: 45px;
}

#side-button1 img:hover{
	width: 60px;
}

#side-button2 img:hover{
	width: 60px;
}

#side-button3 img:hover{
	width: 60px;
}

/* Side button popups */
.modal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	transition: 200ms ease-in-out;
	border: 1px solid black;
	border-radius: 10px;
	z-index: 10;
	background-color: white;
	width: 500px;
	max-width: 80%;
	background-color: #d4bda8;
}

.modal.active {
	transform: translate(-50%, -50%) scale(1);
}

.modal-header {
	padding: 10px 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid black;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	background-color: white;
}

.model-header .modal-title {
	font-size: 1.25rem;
	font-weight: bold;
}

.modal-header .close-button {
	cursor: pointer;
	border: none;
	outline: none;
	background: none;
	font-size: 1.25rem;
}

.modal-title{
	color: #5C4033;
	font-size: larger;
}

.popup-body {
	padding: 10px 15px;
	text-align: center;
}

.popup-body2 {
	padding: 10px 15px;
	text-align: center;
}

#overlay {
	position: fixed;
	opacity: 0;
	transition: 200ms ease-in-out;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: rgba(0, 0, 0, .75);
	pointer-events: none;
}

#overlay.active {
	opacity: 1;
	pointer-events: all;
}

/* Popup Forms */
#popup-form input{
	box-sizing: border-box;
	padding: 5px;
	margin: 3px;
}

#fieldset select{
	cursor: pointer;
	height: 35px;
	width: 175px;
}

#call-us-box{
	background-color: white;
	border: solid 1px #5C4033;
	width: 30px;
	text-align: center;
	width: 150px;
	padding: 10px;
	border-radius: 10px;
	cursor: pointer;
	position: relative;
	top: 75%;
	left: 50%;
	transform: translate(-50%, -25%);
}

#call-us-box:hover {
	background-color: whitesmoke;
}

#call-us-box a{
	color: black;
}

/* Main Page Boxes */
#boxes{
	margin-top: 20px;
}

#boxes .box{
	float: left;
	text-align: center;
	width: 23%;
	padding: 10px;
	cursor: pointer;
}

#boxes .box img{
	width: 90px;
	border-radius: 5px;
}

#boxes img:hover{
	width: 125px;
}


.container .box > div:hover{
	color: white;
}

/*Boxes for other pages (not including home page)*/
#kitchen_boxes{
	margin-top: -90px;
}

#kitchen_boxes2{
	margin-top: -20px;
}

#kitchen_boxes .box{
	float: left;
	width: 23%;
	padding: 10px;
}

#kitchen_boxes2 .box2{
	float: left;
	width: 23%;
	padding: 10px;
}

#kitchen_boxes .box img{
	width: 625px;
}

#kitchen_boxes2 .box2 img{
	width: 625px;
}

/* Newsletter */
#newsletter{
	text-align: center;
}

#newsletter .newsletter-button{
	cursor: pointer;
	background-color: #d4bda8;
	border: none;
	border-radius: 5px;
	width: 75px;
	height: 20px;
}

#newsletter .newsletter-button:hover{
	background-color: white;
}

/*
#newsletter input[type="email"]{

}

/* Sidebars */
aside#sidebar{
	float: right;
	width: 30%;
	margin-top: 10px;
	color: floralwhite;
}

/* Main-Col */
article#main-col{
	float: left;
	width: 65%;
	color: floralwhite;
	margin-top: 150px;
}

/* Contact Us Page */
/* Button */
.contact-us-button{
	background-color: #d4bda8;
	border: none;
	margin: 5px;
	padding: 16px 32px;
	cursor: pointer;
	border-radius: 5px;	
}

.contact-us-button:hover{
	background-color: white;
}

/* Text and headers */
#contact_us{
	text-align: center;
}

#contact_us h1{
	margin-top: 180px;
}

#contact_us input{
	width: 50%;
	padding: 10px 20px;
	margin: 5px 0;
	box-sizing: border-box;
}

.block{
	float: left;
	text-align: center;
	width: 33.3%;
	border: 2px solid #5C4033;
	padding: 10px;
	box-sizing: border-box;
	background-color: #d4bda8;
}

/* Error message for Js */
.error{
	color: red;
	padding: 5px;
	margin: 5px;
}

/* Footer */
footer{
	padding: 20px;
	margin-top: 20px;
	background: #d4bda8;
	color: black;
	text-align: center;
	border-top: black 3px solid;
}

@media (max-width: 960px){
	.showcase{
		height: 70vh;
	}
	.showcase-top img{
		top: 30%;
		left: 5%;
		transform: translate(0);
	}
	.showcase h1{
		font-size: 3px;
		line-height: 1;
	}
	.showcase-content p{
		font-size: 10px;
	}
	.container li{
		padding: 5px;
	}

	.button3{
		top: 200px;
		padding: 5px;
	}
}